<HTML>
    <HEAD>
    </HEAD>

    <BODY>
        <FORM action="/add_car" method="post">
            <LABEL>Car Number:</LABEL>
            <INPUT type="text" name="car_no">
                <BR><BR>
            <LABEL for="line">Line:</LABEL>
            <SELECT name="line">
                <OPTION value="redn">Red, North</OPTION>
                <OPTION value="reds">Red, South</OPTION>
                <OPTION value="goldn">Gold, North</OPTION>
                <OPTION value="golds">Gold, South</OPTION>
                <OPTION value="bluee">Blue, East</OPTION>
                <OPTION value="bluew">Blue, West</OPTION>
                <OPTION value="greene">Green, East</OPTION>
                <OPTION value="greenw">Green, West</OPTION>
            </SELECT>
                <BR><BR>
            <INPUT type="submit">
        </FORM>
    </BODY>
</HTML>