<HTML>
    <HEAD>
    </HEAD>

    <BODY>
        <FORM action="/add_car" method="post">
            <LABEL>Car Number:</LABEL>
            <INPUT type="text" name="car_no">
                <BR><BR>
            <LABEL for="line">Line:</LABEL>
            <SELECT name="line">
                {%- for line in lines %}
                <OPTION value="{{ line[0] }}">{{ line[2] }}</OPTION>{% endfor %}
            </SELECT>
                <BR><BR>
            <INPUT type="submit">
        </FORM>
    </BODY>
</HTML>