<HTML>
    <HEAD>
    </HEAD>

    <BODY>
        <FORM action="/add_ride" method="post">
            {% if status %}<LABEL>{{ status }}</LABEL><BR>{% endif %}
            <LABEL>Car Number:</LABEL>
            <INPUT type="text" name="car_no">
                <BR><BR>
            <LABEL for="line">Line:</LABEL>
            <SELECT name="line">
                {%- for line in lines %}
                <OPTION value="{{ line.shortname }}">{{ line.longname }}</OPTION>{% endfor %}
            </SELECT>
                <BR><BR>
            <INPUT type="submit">
        </FORM>

        <A HREF="/rides">All Rides</A> | <A HREF="/lines">All Lines</A> | <A HREF="/report">Report</A>
    </BODY>
</HTML>