<HTML>
    <HEAD>
{% include "css.j2" %}
    </HEAD>
    </HEAD>

    <BODY>
            <TABLE class="greyGridTable">
                <THEAD>
                    <TR>
                        <TD>Line Name</TD>
                        <TD>Line Abbr</TD>
                    </TR>
                </THEAD>
                <TBODY>
            {%- for line in lines %}<TR>
                    <TD>{{ line['longname'] }}</TD>
                    <TD>{{ line['shortname'] }}</TD>
                </TR>
                {% endfor %}</TBODY>
            </TABLE>
        {% include "footer.j2" %}
    </BODY>
</HTML>