<HTML>
    <HEAD>
{% include "css.j2" %}
    </HEAD>

    <BODY>
            <TABLE class="greyGridTable">
                <THEAD>
                    <TR>
                        <TD>Car Number</TD>
                        <TD>Date Ridden</TD>
                        <TD>Line</TD>
                    </TR>
                </THEAD>
                <TBODY>
            {%- for ride in rides %}<TR>
                    <TD>{{ ride['car_no'] }}</TD>
                    <TD>{{ ride['date'] }}</TD>
                    <TD>{{ ride['line'] }}</TD>
                </TR>
                {% endfor %}</TBODY>
            </TABLE>
        {% include "footer.j2" %}
    </BODY>
</HTML>