<HTML>
    <HEAD>
{% include "css.j2" %}
    </HEAD>


    <BODY>
            <TABLE class="greyGridTable">
                <THEAD>
                    <TR>
                        <TD>Valid Records</TD>
                        <TD>Scrubbed Records</TD>
                    </TR>
                </THEAD>
                <TBODY>
            <TR>
                    <TD>{{ valid_count }}</TD>
                    <TD>{{ scrub_count }}</TD>
            </TR>
            </TABLE>
        {% include "footer.j2" %}
    </BODY>
</HTML>