<HTML>
    <HEAD>
{% include "css.j2" %}
    </HEAD>


    <BODY>
            <TABLE class="greyGridTable">
                <THEAD>
                    <TR>
                        <TD>Type</TD>
                        <TD>Count</TD>
                    </TR>
                </THEAD>
                <TBODY>
            {%- for count in stock_counts %}<TR>
                    <TD>{{ count[0] }}</TD>
                    <TD>{{ count[1] }}</TD>
                </TR>
                {% endfor %}</TBODY>
            </TABLE>
        {% include "footer.j2" %}
    </BODY>
</HTML>